img {
    max-height : 100% ;
    max-width : 100% ;
}
.navBarContainer{
    max-height : 48px !important ;
    background-color :  #4F4D53
}
.navBarContainer input {
    border : none ;
}
.HeroContainer{
    background-image : url("../Images/img_hero.jpg");
    background-size : 100% 100% ;
    min-height : 50vh  ;
    display : flex ;
    align-items : center ;
    justify-content : center ;
    
}
.HeroContainer h1 {
    font-weight : bolder ;
    color : #4F4D53 ;
    font-size : 100px ;
    font-family: 'Roboto', sans-serif !important;
}
.teamMembersContainer{
    position : relative;
    bottom : 100px ;
}
.imgsContainer{
    display : flex;
    justify-content : space-around ;
}
.imgsContainer img  , .MemberImage{
    border-radius: 50% !important ;
    -webkit-border-radius: 50% !important ;
    -moz-border-radius: 50% !important ;
    -ms-border-radius: 50% !important ;
    -o-border-radius: 50% !important ;
}
.captionContainer{
    width : 65% ;
    margin : auto ;
}
.captionContainer p , .eamil{
    color : #4F4D53;
    font-size : 20px ;
    font-family: 'Roboto', sans-serif;
}
.caption{
    font-size : 64px ;
    font-weight : 900 ;
    font-family: 'Roboto', sans-serif !important ;
}
.name , .caption , footer h3{
    color : #E8BE02 ;
}
.YellowBandAboveFooter{
    background-color : #E8BE02;
    height : 12px ;
}
.footer{
    background-color : #4F4D53 ;
    height : 320px ;
    display : flex ;
    align-items: center ;
}
footer ul  , footer a {
    color : white ;

}
@media (max-width:1024px) {
    .MemberImage{
        max-height: 50px !important ;
    }
    .HeroContainer{
        min-height : 22vh !important  ;
        max-height: 22vh !important ;
    }
    .captionContainer{
        width: 100% !important ;
    }
}